@font-face {
    font-family: 'Pixel UniCode';
    src: url('https://29238746.github.io/huj/Pixel-UniCode.woff2') format('woff2'),
        url('https://29238746.github.io/huj/Pixel-UniCode.woff') format('woff'),
        url('https://29238746.github.io/huj/Pixel-UniCode.tff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
  font-family: 'Pixel UniCode, Arial, sans-serif;
  font-weight: normal;
    font-style: normal;
    font-display: swap;
}
